* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  transition: all 0.15s linear;
}

html {
  font-size: 66%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  padding-top: 65px;
}

.heading {
  padding-top: 60px;
  margin-top: -60px;
  font-family: "Exo 2";
  font-weight: bold;
  font-size: 30px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 0.3rem;
    width: 5rem;
    background: rgba(0, 0, 0, 0.801);
  }
}

// ******************** HEADER ********************
.header {
  width: 100%;
  padding: 1rem 3rem;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: white;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.575);

  a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

  .fa-bars {
    font-size: 3rem;
    color: black;
    cursor: pointer;
    display: none;
  }

  .fa-volleyball-ball {
    &:hover {
      color: orange;
    }
  }

  .navbar {
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        margin: 0 1.5rem;

        a {
          &:hover {
            color: orange;
            padding-bottom: 0.3rem;
            border-bottom: 0.2rem solid orange;
          }
        }
      }
    }
  }
}

// ******************** About Me ********************
.about {
  margin-bottom: 70px;
  // font-size: 140%;

  .row {
    padding-bottom: 40px;
  }

  .about-content {
    padding: 30px 90px 0 60px;
  }

  h1 {
    font-size: 60px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.801);
    padding-bottom: 20px;
  }

  p {
    font-size: 120%;
  }

  .card {
    margin: 20px;
    padding: 30px;
  }

  .card1 {
    &:hover {
      background-color: lightgray;
    }
  }

  .card2 {
    &:hover {
      background-color: lightgray;
    }
  }

  .card3 {
    &:hover {
      background-color: lightgray;
    }
  }
}

// ******************** Skills ********************
.skills-background {
  padding-bottom: 100px;
  background-color: rgb(238, 238, 238);
}

.skills {
  background-color: rgb(238, 238, 238);
  padding-left: 50px;
  padding-right: 50px;

  &:before,
  &:after {
    content: "";
    width: 50vw;
    top: 0;
    height: 100%;
  }

  .row {
    margin-top: 50px;
  }

  .row1 {
    margin-top: 30px;
  }

  h2 {
    margin-top: 10px;
    font-weight: bold;
  }
}

// ******************** Experience ********************
.experience {
  min-height: 90vh;
  background: #333;

  .heading {
    color: #fff;

    &::after {
      background: #fff;
    }
  }

  .row {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .box {
    height: 30rem;
    width: 100%;
    padding-left: 2.5rem;
    border-left: 0.1rem solid #fff;
    position: relative;
    color: white;

    &::after {
      content: "....";
      z-index: 9999;
      position: absolute;
      top: 0.5rem;
      left: -1rem;
      height: 2rem;
      width: 2rem;
      background: #fff;
      border-radius: 5rem;
    }

    .year {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 2rem;
      color: orange;
      margin-bottom: 5px;
    }

    p {
      font-size: 1.3rem;
      margin-top: 1.5rem;
    }
  }
}

// ******************** Projects ********************
.projects {
  margin-top: 40px;

  .box1 {
    margin-top: 20px;
  }

  .box {
    .card {
      min-height: 65vh;
      border-radius: 25px;
      margin-right: 10%;
      margin-left: 10%;
      border: 0.4rem solid black;

      h4 {
        font-family: "Open Sans";
        font-weight: bold;
      }

      #sudoku {
        background: url("images/sudoku.png") no-repeat;
        height: 28rem;
        width: 80%;
        margin-left: 12%;
        // background-position: center;

        &:hover {
          background: url("images/sudoku_solved.png") no-repeat;
          // background-position: center;
        }
      }

      .project-text {
        font-size: 1.1rem;
        margin-top: auto;
        margin-bottom: auto;
        padding-right: 8%;
      }
    }
  }

  .box-between {
    height: 3rem;
    margin-left: 50%;
    border-left: 0.4rem solid black;
    position: relative;
  }
}

// ******************** Media Queries ********************
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }

  body {
    padding-top: 60px;
  }

  .header {
    .fa-bars {
      display: block;
      z-index: 1000;
    }

    .navbar {
      position: fixed;
      top: -120%;
      left: 0;
      width: 100vw;

      ul {
        height: 50%;
        width: 100%;
        flex-flow: column;
        justify-content: center;

        li {
          margin: 10px;

          a {
            font-size: 1.5rem;
          }
        }
      }
    }

    .nav-toggle {
      top: 0;
      height: 45%;
      background-color: white;
      border-bottom: 0.1rem solid black;
    }
  }

  .about-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
  }
}
