* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

html {
  font-size: 66%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  padding-top: 65px;
}

.heading {
  padding-top: 60px;
  margin-top: -60px;
  font-family: "Exo 2";
  font-weight: bold;
  font-size: 30px;
}

.heading::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 0.3rem;
  width: 5rem;
  background: rgba(0, 0, 0, 0.801);
}

.header {
  width: 100%;
  padding: 1rem 3rem;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: white;
  -webkit-box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.575);
          box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.575);
}

.header a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.header .fa-bars {
  font-size: 3rem;
  color: black;
  cursor: pointer;
  display: none;
}

.header .fa-volleyball-ball:hover {
  color: orange;
}

.header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header .navbar ul li {
  margin: 0 1.5rem;
}

.header .navbar ul li a:hover {
  color: orange;
  padding-bottom: 0.3rem;
  border-bottom: 0.2rem solid orange;
}

.about {
  margin-bottom: 70px;
}

.about .row {
  padding-bottom: 40px;
}

.about .about-content {
  padding: 30px 90px 0 60px;
}

.about h1 {
  font-size: 60px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.801);
  padding-bottom: 20px;
}

.about p {
  font-size: 120%;
}

.about .card {
  margin: 20px;
  padding: 30px;
}

.about .card1:hover {
  background-color: lightgray;
}

.about .card2:hover {
  background-color: lightgray;
}

.about .card3:hover {
  background-color: lightgray;
}

.skills-background {
  padding-bottom: 100px;
  background-color: #eeeeee;
}

.skills {
  background-color: #eeeeee;
  padding-left: 50px;
  padding-right: 50px;
}

.skills:before, .skills:after {
  content: "";
  width: 50vw;
  top: 0;
  height: 100%;
}

.skills .row {
  margin-top: 50px;
}

.skills .row1 {
  margin-top: 30px;
}

.skills h2 {
  margin-top: 10px;
  font-weight: bold;
}

.experience {
  min-height: 90vh;
  background: #333;
}

.experience .heading {
  color: #fff;
}

.experience .heading::after {
  background: #fff;
}

.experience .row {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.experience .box {
  height: 30rem;
  width: 100%;
  padding-left: 2.5rem;
  border-left: 0.1rem solid #fff;
  position: relative;
  color: white;
}

.experience .box::after {
  content: "....";
  z-index: 9999;
  position: absolute;
  top: 0.5rem;
  left: -1rem;
  height: 2rem;
  width: 2rem;
  background: #fff;
  border-radius: 5rem;
}

.experience .box .year {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.experience .box h3 {
  font-size: 2rem;
  color: orange;
  margin-bottom: 5px;
}

.experience .box p {
  font-size: 1.3rem;
  margin-top: 1.5rem;
}

.projects {
  margin-top: 40px;
}

.projects .box1 {
  margin-top: 20px;
}

.projects .box .card {
  min-height: 65vh;
  border-radius: 25px;
  margin-right: 10%;
  margin-left: 10%;
  border: 0.4rem solid black;
}

.projects .box .card h4 {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 2rem;
}

.projects .box .card .row {
  margin: auto;
}

.projects .box .card .project-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .box .card #sudoku {
  background: url("images/sudoku.png") no-repeat;
  background-size: contain;
  height: 28rem;
  width: 100%;
  background-position: center;
}

.projects .box .card #sudoku:hover {
  background: url("images/sudoku_solved.png") no-repeat;
  background-size: contain;
  background-position: center;
}

.projects .box .card #lets-eat {
  background: url("images/lets_eat_form.png") no-repeat;
  background-size: contain;
  height: 26rem;
  width: 100%;
  background-position: center;
}

.projects .box .card #lets-eat:hover {
  background: url("images/lets_eat_result.png") no-repeat;
  background-size: contain;
  background-position: center;
}

.projects .box .card .project-text {
  font-size: 1.1rem;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 8%;
}

.projects .box-between {
  height: 3rem;
  margin-left: 50%;
  border-left: 0.4rem solid black;
  position: relative;
}

@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
  body {
    padding-top: 60px;
  }
  .header .fa-bars {
    display: block;
    z-index: 1000;
  }
  .header .navbar {
    position: fixed;
    top: -120%;
    left: 0;
    width: 100vw;
  }
  .header .navbar ul {
    height: 50%;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .navbar ul li {
    margin: 10px;
  }
  .header .navbar ul li a {
    font-size: 1.5rem;
  }
  .header .nav-toggle {
    top: 0;
    height: 45%;
    background-color: white;
    border-bottom: 0.1rem solid black;
  }
  .about-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */